@page
@using ASP.NetCoreTwitterOAuth.Data
@model System.Collections.Generic.IEnumerable<ASP.NetCoreTwitterOAuth.Data.Tweet>

@foreach (var tweet in Model)
{
    if (tweet.Entity.Urls.Count > 0)
    {
<div class="tweet" data-language="@tweet.Language" onclick="location.href = '@tweet.Entity.Urls.First().UrlString';" style="cursor: pointer;">
    <img src="@tweet.User.ProfileImageUrlHttps"> <strong>@tweet.User.Name:</strong> @tweet.Text
    <a href="@tweet.Entity.Urls.First().UrlString">@tweet.Entity.Urls.First().UrlString</a>
    @if (tweet.Entity.Media != null)
            {
                var url = tweet.Entity.Media.First().MediaUrlHttps + ":small";
    <img src="@url" class="picture" />
            }
</div>
        if (tweet.Language != "ar" && tweet.Language != "no")
        {
<img src="~/images/play.png" data-language="@tweet.Language" class="play" alt="Play" onclick="speak('@tweet.Text.Replace("\"", string.Empty).Replace("\'", string.Empty)')">
<img src="~/images/pause.png" data-language="@tweet.Language" class="pause" alt="Pause" onclick="pauseSpeaking()">
<img src="~/images/stop.png" data-language="@tweet.Language" class="stop" alt="Stop" onclick="stopSpeaking()">
        }
    }
    else
    {
<div class="tweet" data-language="@tweet.Language">
    <img src="@tweet.User.ProfileImageUrlHttps"> <strong>@tweet.User.Name:</strong> @tweet.Text
    @if (tweet.Entity.Media != null)
            {
                var url = tweet.Entity.Media.First().MediaUrlHttps + ":small";
    <img src="@url" class="picture" />
            }
</div>
        if (tweet.Language != "ar" && tweet.Language != "no")
        {
<img src="~/images/play.png" data-language="@tweet.Language" class="play" alt="Play" onclick="speak('@tweet.Text.Replace("\"", string.Empty).Replace("\'", string.Empty)')">
<img src="~/images/pause.png" data-language="@tweet.Language" class="pause" alt="Pause" onclick="pauseSpeaking()">
<img src="~/images/stop.png" data-language="@tweet.Language" class="stop" alt="Stop" onclick="stopSpeaking()">
        }
    }
}

<script type="text/javascript">
        function speak(text) {
            if (window.speechSynthesis.paused) {
                window.speechSynthesis.resume();
            } else if (!window.speechSynthesis.speaking) {
                var msg = new SpeechSynthesisUtterance(text);
                window.speechSynthesis.speak(msg);
            }
        };

        function pauseSpeaking() {
            if (window.speechSynthesis.speaking) {
                window.speechSynthesis.pause();
            }
        };

        function stopSpeaking() {
            if (window.speechSynthesis.speaking) {
                window.speechSynthesis.cancel();
            }
        };
</script>