@page
@inject SignInManager<ApplicationUser> SignInManager
@model ASP.NetCoreTwitterOAuth.Pages.Twitter.IndexModel
@*<script>
        window.twttr = (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
            t._e = [];
            t.ready = function (f) {
                t._e.push(f);
            };
            return t;
        }(document, "script", "twitter-wjs"));
    </script>*@
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<div class="row">
    <form action="" method="post" enctype="multipart/form-data">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="TweetString"></label>
                <input asp-for="TweetString" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Image"></label>
                <input asp-for="Image" class="form-control" type="file" />
            </div>
        </div>
        <div class="col-md-12">
            @{
                bool Disabled = !SignInManager.IsSignedIn(User);
            }
            <button type="submit" class="btn btn-success" disabled="@Disabled">Post</button>
        </div>
    </form>
</div>
@if (SignInManager.IsSignedIn(User))
{
    <div class="row">
        @{
            string url = $"https://twitter.com/{Model.ScreenName}?ref_src=twsrc%5Etfw";
        }
        <a class="twitter-timeline" href="@url">Tweets by @Model.ScreenName</a>
        @foreach (string screenName in Model.Friends)
        {
            string followed = $"https://twitter.com/{screenName}?ref_src=twsrc%5Etfw";
            <a class="twitter-timeline" href="@followed">Tweets followed by @Model.ScreenName</a>
        }
    </div>
}